<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<link rel="icon" type="image/png" href="/static/img/favicon.ico">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

    {% block referens %} {% endblock %}

	<title>{% block title %}{% endblock %}</title>

	<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />

    <!-- Bootstrap core CSS     -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet" />

    <!-- Animation library for notifications   -->
    <link href="/static/css/animate.min.css" rel="stylesheet"/>

    <!--  Light Bootstrap Table core CSS    -->
    <link href="/static/css/light-bootstrap-dashboard.css" rel="stylesheet"/>

    <!--     Fonts and icons     -->
    
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,700,300' rel='stylesheet' type='text/css'>
    <link href="/static/css/pe-icon-7-stroke.css" rel="stylesheet" />
    <link href="/static/css/MoneAdmin.css" rel="stylesheet" />
     <!-- <link rel="stylesheet" href="static/plugins/Font-Awesome/css/font-awesome.css" />
     <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">


     -->


</head>
<body>

<div class="wrapper">
    <div class="sidebar" data-color="azure" data-image="/static/img/sidebar-5.jpg">

    <!--

        Tip 1: you can change the color of the sidebar using: data-color="blue | azure | green | orange | red | purple"
        Tip 2: you can also add an image using data-image tag

    -->

    	<div class="sidebar-wrapper">
            <div class="logo">
            	
                <a class="simple-text">
                    Safe Heart 
                </a>
            </div>

            <ul class="nav">
                <li class="active">
                    <a href="/corazon/home">
                        <i class="pe-7s-home"></i>
                        <p>Home</p>
                    </a>
                    
                </li>
                
                {% if perms.Corazon.ver_perfil %}
                <li>
                    <a href="/corazon/paciente">
                        <i class="pe-7s-user"></i>
                        <p>Paciente</p>
                    </a>    

                </li>
                {% endif %}

                
                {% if perms.Corazon.ver_perfil %}
                <li>
                    <a href="/corazon/doctor">
                        <i class="pe-7s-note2"></i>
                        <p>Doctor</p>
                    </a>
                </li>
                {% endif %}
                
                <li>
                    <a href="/corazon/noti">
                        <i class="pe-7s-bell"></i>
                        <p>Notificaciones</p>
                    </a>
                </li>
                
                {% if perms.Corazon.change_doctor %}
                <li>
                    <a href="/corazon/administrador">
                        <i class="pe-7s-config"></i>
                        <p>Administrador</p>
                    </a>
                </li>
                {% endif %}
                
		
            </ul>
    	</div>
    </div>

    <div class="main-panel">
        <nav class="navbar navbar-default navbar-fixed">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Sistema de monitoreo del corazón - Bienvenido(a) {{user.first_name|capfirst}} {{user.last_name|capfirst}} </a>
                    
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-left">
                        <li class="dropdown">
                              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <i class="fa fa-heartbeat" style="font-size:24px;color:red"></i>

                              </a>
                        </li>
                    </ul>




                    <ul class="nav navbar-top-links navbar-right">
                        

                    <li class="dropdown">
                        <a href="/notification/verMensajes/">
                            Mensajes
                            <span class="label label-info"></span><i class="pe-7s-comment"></i>
                        </a>

                    </li>
                       


                        <li>
                           <a href="/corazon/paciente">
                               Cuenta
                            </a>
                        </li>
                        
                        {% if perms.Corazon.send_mail %}
                            <li>
                               <a href="/corazon/contactos">
                                   Mail
                                </a>
                            </li>
                        {% endif%}
                        
                        <li>
                            <a href="/corazon/cerrar">
                                Cerrar sesión
                            </a>
                        </li>
                    </ul>


                </div>
            </div>
        </nav>

        {% block content %}

        {% endblock %}





<!--  PARTE INFERIOR DE LA PAGINA
        EL FINAL DE LA PAG WEB

        xD

 -->
        <footer class="footer">
            <div class="container-fluid">
                <nav class="pull-left">
                    <ul>
                        <li>
                            <a href="#">
                                FIEC
                            </a>
                        </li>

                    </ul>
                </nav>
                <p class="copyright pull-right">
                    &copy; 2016 <a >Safe Heart</a>, Escuela Superior Politecnica del Litoral
                </p>
            </div>
        </footer>

    </div>
</div>


</body>

    <!--   Core JS Files  -->
    <script src="/static/js/jquery-1.10.2.js" type="text/javascript"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
	
    <script src="/static/js/bootstrap.min.js" type="text/javascript"></script>


    <!--  
    Lo que agrege yop para jQUERY.MIN 
    -->
    <script src="/static/js/jquery.form.min.js" </script>


	<!--  Checkbox, Radio & Switch Plugins -->
	<script src="/static/js/bootstrap-checkbox-radio-switch.js"></script>

	<!--  Charts Plugin -->
	<script src="/static/js/chartist.min.js"></script>

    <!--  Notifications Plugin    -->
    <script src="/static/js/bootstrap-notify.js"></script>

    <!--  Google Maps Plugin    
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>-->

    <!-- Light Bootstrap Table Core javascript and methods for Demo purpose -->
	<script src="/static/js/light-bootstrap-dashboard.js"></script>
    



	<!-- Light Bootstrap Table DEMO methods, don't include it in your project! -->

    {% block javascrip %}

    {% endblock %}
	
</html>
